<div class="row">
  <div class="jumbotron text-center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
      <%= f.text_field :name, autofocus: true,placeholder: "Name",class: "form-control" %>
    </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password",class: "form-control" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Password confirmation",class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,class: "btn btn-sm btn-success btn-block" ,style: "color:white;"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
