<% provide(:title, @user.name) %>
<h1><%= @user.name %>のMy page </h1>
<%= link_to '新しくブログを投稿する', new_picture_path, class:'btn btn-primary' %>

<h2>お気に入り一覧</h2>
<% @favorites_pictures.each do |favorite| %>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Image</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= favorite.title %></td>
    <td><%= favorite.content %></td>
    <td><%= favorite.image %></td>
    <td><%= favorite.user.name %></td>
  </tr>
  </tbody>
</table>
<% end %>
