  <div class="row">
    <% @pictures.each do |picture| %>
        <div class="col-md-6">
        <div class="thumbnail">
          <% post_user = picture.user %>
          <h4 class="text-right">投稿者:<%= post_user.try(:name) %></h4>
          <hr>
          <%= image_tag(picture.image) %>
          <div class="caption">
            <hr>
            <h4><%= picture.title %></h4>
            <p><%= picture.content %></p>
            <p><%= link_to 'Show', picture,class: "btn btn-success",style: "color:white;" %>
            <% unless @picture != picture.user.id %>
              <%= link_to 'Edit', edit_picture_path(picture),class: "btn btn-primary", style: "color:white;", role:"button" %>
              <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger",style: "color:white;", role:"button" %></p>
            <% end %>
            <br>
            <%= picture.created_at %>
          </div>
        </div>
        </div>
    <% end %>
  </div>
